/* INDEX.HTML */

/* fonts body */

h2,
h1 {
  font-family: Arial;
  color: #347950;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
body
 {
  font-family: Arial;
  color: rgb(3, 3, 3);
}

/* div around all the elements on the webpage */
#wrapper {
 background-color: #000000;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure.wrapper takes at least the full height of the viewport */
  
}

/* makes the sections get next to eachother */
article {
  display: flex;
  justify-content: center;
}


/* styling for sections */
section {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
 
}

/* styling for aside */
aside {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  width: 100%; 
  border: 20px #000000;
 
}



/* footer font color */
footer {
  color: white;
}


